.browse-videos {
    background-color: #F3F3F3;

    .video-thumbnail {
        position       : relative;
        text-decoration: none;
        cursor         : pointer;
        .play-button {
            top : calc(calc(376px / 2) - 25px);
            left: calc(calc(636px / 2) - 25px)
        }

        .title {
            &:hover {
                color: $primary;
            }
        }

        &.small-thumb {
            .video-placeholder {
                display: block;
            }

            svg {
                width : auto;
                height: auto;
            }
        }
    }

    .video-thumbnail-sm {
        .play-button {
            top : calc(calc(181px / 2) - 25px);
            left: calc(calc(306px / 2) - 25px);

            svg {
                width : 50px;
                height: 50px;
            }
        }
    }
}