.hero-banner {
    background-image : url("../../../public/hero-banner.png");
    background-repeat: no-repeat;
    min-height       : 450px;
    background-size  : cover;
    color            : $white;

    .hero-content {
        height         : 100%;
        display        : flex;
        justify-content: space-evenly;
        align-items    : flex-start;
        flex-direction : column;
    }

    .car-lists-slider {
        gap: 15px;

        li {
            padding-bottom: .8rem;
            border-bottom : 2px solid #FFFFFFB2;
            cursor        : pointer;
            color         : #FFFFFFB2;

            &.active {
                color              : $white;
                border-bottom-color: $white;
            }
        }
    }

    .hero-title {
        font-size  : 48px;
        line-height: 64px;
    }

    .hero-btn {
        font-size     : 1rem;
        font-weight   : 500;
        text-transform: uppercase;
        padding       : .85rem 1rem;

        svg {
            font-size     : 1.4rem;
            vertical-align: -5px;
            margin-left   : 1rem;
        }
    }

    .card {
        .card-title {
            font-size    : 24px;
            font-weight  : 600;
            margin-bottom: 1.2rem;
        }

        input.form-control {
            height: 46px;
        }

        button {
            font-size     : 1rem;
            text-transform: uppercase;
            font-weight   : 500;
        }

        // .nav.nav-tabs {
        //     border-bottom: none;

        //     .nav-link {
        //         border       : 0;
        //         border-radius: 0;
        //         text-align   : center;
        //         padding      : 0 0 1rem 0;
        //         color        : $gray-600;
        //         cursor       : pointer;
        //         border-bottom: 2px solid $gray-200;

        //         svg {
        //             width : 50px;
        //             height: 50px;
        //         }

        //         &.active {
        //             color              : $primary;
        //             border-bottom-color: $primary;
        //         }
        //     }
        // }
    }

    .mantine-Card-root {
        .mantine-Tabs-tab {
            flex-direction: column !important;
            gap           : 10px;
        }

        .mantine-Tabs-tabSection {
            margin: 0 !important;
        }
    }

}