.search-by-location {

    .locations-card {
        box-shadow   : 0px 4px 20px 0px #00000014;
        border       : none;

        .card-body {
            // padding-block: 1.5rem;
        }

        .text-muted {
            color: #24272C80 !important;
        }

        .location-info {
            font-size: .9rem;
        }
    }

    .locations-background {
        img {
            position : absolute;
            bottom   : -10px;
            max-width: 550px;
            right    : 0;
        }
    }

    .input-label {
        color      : #878787 !important;
        font-weight: 400;
    }

    .input-with-icon {
        position: relative;
        color   : #878787;

        .location-input {
            border       : 1px solid #24272C26;
            box-shadow   : 0px 1px 2px 0px #24272C26;
            border-radius: 5px;
            height       : 48px;
            width        : 100%;
            padding-left : 2.5rem;
        }

        .icon {
            position : absolute;
            left     : 15px;
            top      : 12px;
            font-size: 0.8rem;
        }
    }
}