.comparison-detail {
    .car-detail-lists {
        .selected {
            color   : $primary !important;
            position: relative;

            .mantine-Button-inner {
                &::before {
                    content         : " ";
                    position        : absolute;
                    left            : 22px;
                    right           : 22px;
                    bottom          : 0;
                    height          : 3px;
                    width           : auto;
                    border-radius   : 6px 6px 0px 0px;
                    background-color: $primary;
                }
            }


        }
    }
}