.background-search-verlay {
    background-color: rgba(233, 8, 8, 0.8);
    height          : 200px;
}

.background-bread-crumb-overlay {
    background-color: rgba(233, 8, 8, 0.8);
    padding: 1rem 0rem;
    box-sizing: border-box;
}

.breadcrumb {
    .breadcrumb-item {
        a {
            color: #FFFFFFB2 !important;
        }

        &:before {
            color: $white !important;
        }

        &.active {
            a {
                color      : $white !important;
                font-weight: 500;
            }
        }
    }
}


.quick-links {
    ul {
        margin-bottom: 0;

        >li {
            margin-bottom: 0.6rem;

            a {
                color    : #878787;
                font-size: 14px;
            }
        }
    }
}