.product-listing {
    .mantine-Slider-thumb{
        background: $primary !important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .filter-card {
        color: $dark;
        box-shadow: 4px 4px 20px 0px #00000014;
        border: none;

        .card-header {
            padding: 1.5rem;
            background-color: #333333;
            color: $white;
        }

        .card-title {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            gap: .5rem;
            justify-content: center;
        }

        .card-body {
            .input-with-icon {
                position: relative;
                color: #878787;

                .location-input {
                    border: 1px solid #24272C26;
                    box-shadow: 0px 1px 2px 0px #24272C26;
                    border-radius: 5px;
                    height: 48px;
                    width: 100%;
                    padding-left: 2.5rem;
                }

                .icon {
                    position: absolute;
                    left: 15px;
                    top: 12px;
                    font-size: 0.8rem;
                }
            }

            .selected-brand-item {
                position: relative;
                display: inline-block;
                cursor: pointer;
                text-align: center;

                input[type="checkbox"] {
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    height: 0;
                    cursor: pointer;
                }

                .checked {
                    opacity: 1;
                }

                label {
                    display: block;
                    padding: 10px;
                    border: 2px solid transparent;
                    border-radius: 5px;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    opacity: 0.5;

                    &:hover {
                        opacity: 1;
                    }
                }
            }


        }

        .form-select {
            border-color: #E3E3E3;
            box-shadow: none;
        }

        .range-slider {
            margin-block: 2rem;
        }

        .checkbox-group-filters {
            margin-top: 2rem;

            .form-check {
                margin-block: .5rem;
                position: relative;
                padding-right: 4rem;

                .count {
                    position: absolute;
                    border: 1px solid #CCCCCC;
                    right: 0;
                    top: 0;
                    font-size: 0.8rem;
                    border-radius: 2rem;
                    padding: 0.1rem 0.4rem;
                    min-width: 4rem;
                    text-align: center;
                }
            }
        }
    }

    .toolbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 3rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #CCCCCC;

        .toolbox-right {
            display: flex;
            align-items: center;

            .select-filter-listing {
                display: flex;
                align-items: center;
                gap: 1rem;

                label {
                    color: #878787;
                    font-size: 0.85rem;
                }

                select {
                    box-shadow: none;
                }
            }

            .grid-sort-btns {
                margin-left: .5rem;

                button {
                    background: none;
                    border: none;
                    color: #cccccc;

                    &.active {
                        color: $dark;
                    }
                }
            }
        }
    }


    .title-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $primary;
    }

    .cat-title {
        background-color: $primary;
        color: $white;
        font-weight: 600;
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
        padding: .7rem 3.2rem .7rem .8rem;
        margin-bottom: 1.5rem;
    }


    // Product List Styling
    .product-list {
        margin-block: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 2px solid #CCCCCC;

        &:has(.featured-badge) {
            border-bottom-color: $primary;
        }

        .featured-badge {
            position: absolute;
            background-color: $primary;
            padding: .7rem;
            width: 100%;
            color: $white;
            font-weight: 600;
            text-align: center;
            transform: rotate(45deg);
            right: -145px;
            top: 20px;
            text-transform: uppercase;
        }

        .image-counter {
            position: absolute;
            color: $white;
            top: 15px;
            left: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.2rem;

            svg {
                width: 20px;
                height: 20px;
            }

            span {
                line-height: 20px;
            }
        }

        .progress-bars {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.3rem;
            margin-block: 0.2rem;

            .single-bar {
                width: 100%;
                height: 4px;
                background-color: #D9D9D9;

                &.active {
                    background-color: $primary;
                }
            }

        }

        .product-image {
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }

        .product-title {
            color: $dark;
            text-decoration: none;
            margin-top: .5rem;
            display: block;

            &:hover {
                color: $primary;
            }
        }

        .product-price {
            background-color: $primary;
            color: $white;
            font-weight: 600;
            clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
            padding: 0.7rem 0.7rem 0.7rem 4rem;
            width: 12rem;
            margin-left: auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: right;
            padding-right: 1rem;
        }

        .product-actions {
            display: flex;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
            button {
                border: 1px solid #CCCCCC;
                text-transform: uppercase;
                border-radius: 10px;
                font-weight: 500;
                font-size: 0.85rem;
                box-shadow: none;
                padding-block: .7rem;
                margin-right: 1rem;
                min-width: 10rem;

                svg {
                    margin-right: .4rem;
                }
            }

            .btn-stock {
                background-color: #F1EFEF;
                color: #878787;
                border: none;
            }

            .btn-compare,
            .btn-share {
                &:hover {
                    color: $primary;
                    border-color: $primary;
                }
            }
        }
    }
}