.product-card {
    margin-bottom: 1.5rem;
    border       : none;
    box-shadow   : 0px 4px 20px 0px #00000014;
}

.list-content-listing{
    flex-direction: column;
}

.product-content {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    .product-title {
        font-weight    : 600;
        color          : #333;
        font-size      : smaller;
        text-decoration: none;

        &:hover {
            color: $primary;
        }
    }

    .product-price {
        padding    : 0.6rem 0.6rem 0.6rem 3rem;
        background : $primary;
        clip-path  : polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
        font-weight: 600;
        color      : $white;
    }
}

.product-meta {
    border-top : 0.1rem solid #CCCCCC;
    padding-top: 1rem;
    margin-top : 1rem;
    font-size  : 0.85rem;
    font-weight: 500;

    .text-muted {
        color: #888888 !important;
    }
}