// .account-type-container {
//   display        : flex;
//   justify-content: space-between;
//   width          : 511px;
//   padding        : 30px;
//   margin-bottom  : 41px !important;
// }

// .signup-modal {
//   width  : 450px;
//   padding: 0px 65px;
// }

.account-type-box {
  cursor    : pointer;
  border    : 2px dashed #ff8f8f !important;
  transition: border-color 0.3s ease, background-color 0.3s ease, -webkit-filter 0.3s ease;
  transition: filter 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
  transition: filter 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, -webkit-filter 0.3s ease;

  img {
    -webkit-filter: invert(76%) sepia(2%) saturate(0%) hue-rotate(182deg) brightness(75%) contrast(84%);
    filter        : invert(76%) sepia(2%) saturate(0%) hue-rotate(182deg) brightness(75%) contrast(84%);
  }

  &.active,
  &:hover {
    background-color: #ff00000d !important;

    img {
      -webkit-filter: invert(50%) sepia(100%) saturate(7470%) hue-rotate(354deg) brightness(80%) contrast(100%);
      filter        : invert(50%) sepia(100%) saturate(7470%) hue-rotate(354deg) brightness(80%) contrast(100%);
    }
  }
}

.account-type-icon {
  transition    : -webkit-filter 0.3s ease;
  transition    : filter 0.3s ease;
  transition    : filter 0.3s ease, -webkit-filter 0.3s ease;
  -webkit-filter: invert(76%) sepia(2%) saturate(0%) hue-rotate(182deg) brightness(75%) contrast(84%);
  filter        : invert(76%) sepia(2%) saturate(0%) hue-rotate(182deg) brightness(75%) contrast(84%);
}


.social-login-main {
  width          : 100%;
  padding        : 50px;
  display        : flex;
  flex-direction : column;
  justify-content: center;
}

.login-buttons {
  display       : flex;
  flex-direction: column;
  margin        : 7px 30px;
}

.socials-btns {
  height: 47px !important;
}

.alerts-quickly {
  margin: 0px 72px;
}